@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Ubuntu", system-ui;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-block: 1rem;
}
.btn {
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.btn_primary {
  color: #ffffff;
  background: rgb(18, 121, 217);
}
.btn_primary:hover {
  background: rgb(19, 67, 113);
}
.btn_default {
  color: #000000;
  background: lightgrey;
}
.btn_default:hover {
  background: rgb(182, 181, 181);
}
.img-box {
  width: 220px;
  height: 220px;
}
.img-box__item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.counter-title {
  font-size: 24px;
}
.counter-input {
  padding: 6px 12px;
  border: 1px solid black;
  font-size: 18px;
  width: 300px;
}

/* ============ nav  */
.nav {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
}
.nav__item {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(18, 121, 217);
  color: #ffffff;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 1s;
}
nav__item:hover {
  background: rgb(19, 67, 113);
}

.nav__item.active {
  background: tomato;
}
